.result-container {
  height: 100vh;
  background-color: #1b2450;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-box {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.result-icon {
   width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.result-box h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.result-box p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}


.play-again-button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.play-again-button:hover {
  background-color: #c7303d;
}
