.start-screen {
    background-color: #1b2141;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.robot-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.start-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
.start-button:hover {
  background-color: #c0392b;
}